#grey{
	background: grey;
	width: 300px;
	border-bottom: 1px;

}
@media {  }

#orange{
	background-color: orange;
}

#brown{
	background-color: brown
}

#pink {
	background-color: pink;
	width: 100px;

}

#blue{
	background-color: green;
	width: 300px;
}

.yellow{
	background-color: blue;
	width: 100px;
	float: right;
	float: 
}